---
import Inicio from "../components/Inicio.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<header class="relative">
		<video
			class="w-full h-screen object-cover"
			muted
			autoplay
			loop
			src="trailer.mp4"></video>
		<div class="absolute inset-0 bg-black/50"></div>
		<img
			class="absolute bottom-0 right-0 w-64 p-8"
			src="spiderman.png"
			alt=""
		/>
	</header>
	<Inicio />
	<nav class="fixed z-40 top-0 left-0 w-full backdrop-blur">
		<div class="max-w-6xl pb-4 px-8 mx-auto flex items-center">
			<Logo />
			<ul class="text-white flex gap-4">
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Personajes</a></li>
				<li><a href="#">Acerca</a></li>
			</ul>
		</div>
	</nav>
	<main class=""></main>
</Layout>

<style>
	a {
		@apply hover:text-red-500
		text-lg;
	}
</style>
